apiVersion: v1
kind: Service
metadata:
  name: azbankgateways-test-service
  labels:
    app: azbankgateways-test
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: azbankgateways-test
